stripe:
  secret_key: abc123
  public_key: abc123

spreedly:
  login: abc123
  password: abc123
  gateway_token: abc123

payuin:
  key: abc123
  salt: abc123
  auth_header: abc123

activemerchant:
  login: abc123
  password: abc123

aws:
  access_key_id: abc123
  secret_access_key: abc123

textlocal:
  TL_APIKEY: abc123

secret_key_base: long-secret-keybase-generate-with-rails-secret
